@import "tailwindcss";

body {
  background: #f9fafb;
  color: #111827;
  font-family: Arial, Helvetica, sans-serif;
}

input, select, textarea {
  color: #111827 !important;
  background-color: #ffffff !important;
}

input::placeholder, textarea::placeholder {
  color: #9ca3af !important;
}
